@media (max-width: 769px) {
  .menu-snack {
    display: grid;
    grid-template-columns: minmax(500px, 752px);
    gap: 32px;
  }
  .menu_whole-information {
    height: 1290px;
  }
  .small_description-first {
    max-width: 752px;
  }
  .basket-icon {
    margin-left: 8px;
  }
}

@media (max-width: 577px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header__img {
    width: 105px;
    height: 11px;
  }

  .header__sign-link {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #1d1d1d;
    width: 72px;
  }

  .header__register-link {
    margin-right: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    width: 72px;
    color: #ffffff;
  }

  .menu_whole-information {
    margin-top: 111px;
    height: 910px;
  }

  .main-img {
    margin-left: 4px;
  }
  .menu {
    display: none;
  }

 
  .menu-snack {
    display: grid;
    grid-template-columns: minmax(200px, 308px);
    gap: 8px;
    grid-template-rows: repeat(6, 117px);
  }

  

  .main-img  {
    max-width: 102px;
    max-height: 102px;
    bottom: 0;
    right: 0;
  }

  .main__food-card {
    max-height: 117px;
    max-width: 306px;
  }

  .main__food-headline {
    padding: 0;
    text-align: center;
    padding-top: 32px;
  }

  .main__hr {
    margin: 0 auto;
    display: block;
    margin-top: 12px;
  }

  .footer {
    height: 769px;
  }
  .footer__menu {
    height: 492px;
    display: block;
    max-width: 304px;
  }

  .menu_whole-information {
    display: flex;
    flex-direction: column;
  }
}